

.navbar {
    background-color: #00000070;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    z-index: 2; 
}

.navbar a, .home-button {
    color: #fffefc;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover, .home-button:hover {
    background-color: #248232;
}

.navbar img {
    height: 50px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.big-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: white;
    background-color: #000000;
    font-size: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #040f0f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 101;}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #248232;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.logo-name {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.home-button {
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: #45a049;
}

.search-container {
    position: relative;
}

.navbar input[type="text"] {
    display: none;
    padding: 10px 40px 10px 10px;
    width: 200px;
    border: 1px solid #149c14;
    border-radius: 20px;
    font-size: 18px;
    background-color: #f50000;
    color: #ffffff;
}

.navbar .fa-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #248232;
    cursor: pointer;
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

body {
    background-color:var(--primary-color);
}

.card-container {
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 100px;
    margin-top: 100px;
}

.card {
    width:325px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
    overflow: hidden;
    transition: transform 0.6s ease;
}

.card:hover {
    transform: translateY(-20px);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;

}

.card-content p{
    font-size: 15px;
    color:#666;
    margin-bottom: 20px;
    margin-top: 18px;

}
.card-button {
    display: inline-block;
    background-color: #45a049;
    color: #fffefc;
    text-decoration: none;
    border-radius: 5px;
    padding: 8px 16px;
  
}

.Header {
    font-size: 30px;
    font-family: "Lucida Console", "Courier New", monospace, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin-top: 50px;
}

footer {
    background:#000000;
    padding-left: 50px;   
    position: relative; 
    z-index: 2; 

}

.container {
    width: 1140px;
    margin:auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
  
}

.footer-content {
    width: 33.3%;
}

h3 {
    font-size: 28px;
    margin-bottom: 15px;
    text-align: center;
    color: white;

}

.footer-content p{
    width:190px;
    margin: auto;
    padding: 7px;
    color: white;
    
}

.footer-content ul{
    text-align: center;
}

.list {
    padding: 0;
}

.list li {
    width:auto;
    text-align: center;
    list-style-type: none;
    padding: 7px;
    position: relative;
    color: white;

}

.list li::before{
    content:'';
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0px;
    height: 2px;
    background: #4CAF50;
    transition-duration: 0.5s;
}

.list li:hover::before{
    width: 70px;
}

.social-icons{
    text-align: center;
    padding: 0;
}

.social-icons li{
    display: inline-block;
    text-align: center;
    padding: 5px;

}

.social-icons i{
    color: #ffffff;
    font-size: 25px;

}

a{
    text-decoration: none;
}
a:hover{
    color:#4CAF50;
}

.social-icons i:hover{
    color: #4CAF50; 
}

.bottom-bar {
    background: #45a049;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.bottom-bar p{
    color: #343434;
    margin: 0;
    font-size: 16px;
    padding: 7px;
    color: white;
}

.image {
    position: absolute;
    z-index: -3;
    left: 150px;
    top: -220px;
    background: white;
}

.image img {
    filter: brightness(0.9);
}

.text h1 {
    font-size: 150px;
    position: relative;
    margin-bottom: 20px;        
}

.text img {
    position: absolute;
    top: -210px;
    left: -110px;
    z-index: -4;
    width: 800px;
    height:800px;

}

.text p {
    width: 400px;
    line-height: 1.6;
    
}

.background {
    background-image: url('media/BEE BACKGROUND.jpeg');
    background-size: cover; 
    background-position: center; 
    height: calc(100vh - 70px); 
    position: relative; 
    z-index: -1; 
}

.text {
        color: #fffefc;
        padding: 30px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 28%;
        transform: translate(-50%, -45%);
        z-index: 1;
        width: 70%; 
        max-width: 800px; 
        background-color: rgba(0, 0, 0, 0.7); 
 }

 .text p {
    margin-top: -30px; 
}
    


.bee-images {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 20px;
    margin-top: 20px;
}

.bee-images img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    }


.bee-images img:hover {
    transform: scale(1.05);
}


.video-container {
    display: flex;
    
}



.VID {
    width: 500px; 
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(255, 255, 255), 
              0 0 30px 0 rgb(255, 255, 255), 
              0 0 10px 0 rgb(255, 255, 255);
            
    margin-right: 200px; /* Adjust the right margin of each video */
              
  }
  
 
.VID {
    position: relative;
    top: 50px; 
    margin-left: 100px;
  }

#icon {
    width: 50px;
    cursor: pointer;
    margin-top: 15px;
    margin-left: 5px;
}

:root {
    --primary-color: #edcf2fc;
    --secondary-color: #212121;
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}






  


