body {
    font-family: Arial, sans-serif;
    background-color: #040f0f;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;}
.navbar {
    background-color: #040f0f;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a, .home-button {
    color: #fcfffc;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar a:hover, .home-button:hover {
    background-color: #248232;
}

.navbar img {
    height: 50px;
    width: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.logo-container {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.big-logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.logo-name {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.home-button {
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
}

.home-button:hover {
    background-color: #45a049;
}


.registration-container {
    background-color: #248232;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-top: 200px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 98%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.6s;
}

button:hover {
    background-color: #00b300;
}

.footer {
    background-color: #040f0f;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-text {
    margin: 0;
    font-size: 14px;
}
